@{
    ViewBag.Title = "Home Page";
}

@model TestStationStatus.Models.HomeViewModel

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Home.css")">
}

@section scripts{
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>

    <!--Add script to update the page and send messages.-->
    <script type="text/javascript">
        var monitor;

        $(function () {
            //$.connection.hub.logging = true;

            monitor = $.connection.monitorHub;
            monitor.client.HomeUpdated = HomeUpdated;

            $.connection.hub.start(); // Use parameter for debugging only { transport: 'longPolling' }
        });

        function HomeUpdated(homeModel) {
            $('#Name0').text(homeModel.Station[0].Name);
            $('#Name1').text(homeModel.Station[1].Name);
            $('#Name2').text(homeModel.Station[2].Name);
            $('#Name3').text(homeModel.Station[3].Name);


            $('#status0').text(homeModel.Station[0].Status);
            $('#status1').text(homeModel.Station[1].Status);
            $('#status2').text(homeModel.Station[2].Status);
            $('#status3').text(homeModel.Station[3].Status);

            $('#currentScript0').text(homeModel.Station[0].CurrentScript);
            $('#currentScript1').text(homeModel.Station[1].CurrentScript);
            $('#currentScript2').text(homeModel.Station[2].CurrentScript);
            $('#currentScript3').text(homeModel.Station[3].CurrentScript);
        };
    </script>
}



<div>
    <div class="row">
        <img class="image-header" src="~/Content/Images/maxresdefault.jpg" />
        </div>

        <div class="row">
            <div class="col-md-4 image-Status">
                <h2>Status Page @Environment.MachineName</h2>
                <p> </p>
                <p>Hold CTRL to open in a new tab</p>
                <p><a class="btn btn-status" href="@Url.Action("Index", "Status")?id=0">Status Page 418 A</a></p>
                <p><a class="btn btn-status" href="@Url.Action("Index", "Status")?id=1">Status Page 418 B</a></p>
                <p><a class="btn btn-status" href="@Url.Action("Index", "Status")?id=2">Status Page 419 A</a></p>
                <p><a class="btn btn-status" href="@Url.Action("Index", "Status")?id=3">Status Page 419 B</a></p>
                <p> </p>
                <p><a href="http://ausydvs25:8181/project.html?projectId=Embedded_E420_AutoTest&tab=projectOverview">Team City Results Data</a></p>

                <p><a href="https://landisgyr.atlassian.net/secure/RapidBoard.jspa?rapidView=39&projectKey=ATS&view=detail">JIRA Board</a></p>
            </div>

            <div class="col-md-8 image-cog">
                <h2>Test Case queueing</h2>

                <div class="">
                    @using (Html.BeginForm("Upload2", "Home", FormMethod.Post, new { enctype = "multipart/form-data", test = Model }))
            {
                        @Html.Hidden("id", 0)
                        <p id="Name0">418 A</p>
                        <table>
                            <tr>
                                <td colspan="3" id="status0">*Loading*</td>
                            </tr>
                            <tr>
                                <td>Current( or last) Script:</td>
                                <td id="currentScript0">*Loading*</td>
                                <td><input class="btn btn-test" type="button" title="Cancel" value="Cancel" onclick="location.href='@Url.Action("Cancel", "Home",new { id = 0 })'" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="file" name="file" multiple />
                                </td>
                                <td colspan="2"><input class="btn btn-test" type="submit" value="Queue Test Case" /></td>
                            </tr>
                        </table>
                    }
                    <p> </p>
                    @using (Html.BeginForm("Upload2", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                        @Html.Hidden("id", 1)
                        <p id="Name1">418 B</p>
                        <table>
                            <tr>
                                <td colspan="3" id="status1">*Loading*</td>
                            </tr>
                            <tr>
                                <td>Current( or last) Script:</td>
                                <td id="currentScript1">*Loading*</td>
                                <td><input class="btn btn-test" type="button" title="Cancel" value="Cancel" onclick="location.href='@Url.Action("Cancel", "Home",new { id = 1 })'" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="file" name="file" multiple />
                                </td>
                                <td colspan="2"><input class="btn btn-test" type="submit" value="Queue Test Case" /></td>
                            </tr>
                        </table>
                    }
                    <p> </p>
                    @using (Html.BeginForm("Upload2", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                        @Html.Hidden("id", 2)
                        <p id="Name2">419 A</p>
                        <table>
                            <tr><td colspan="3" id="status2">*Loading*</td></tr>
                            <tr>
                                <td>Current( or last) Script:</td>
                                <td id="currentScript2">*Loading*</td>
                                <td><input class="btn btn-test" type="button" title="Cancel" value="Cancel" onclick="location.href='@Url.Action("Cancel", "Home",new { id = 2 })'" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="file" name="file" multiple />
                                </td>
                                <td colspan="2"><input class="btn btn-test" type="submit" value="Queue Test Case" /></td>
                            </tr>
                        </table>
                    }
                    <p> </p>
                    @using (Html.BeginForm("Upload2", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                        @Html.Hidden("id", 3)
                        <p id="Name3">419 B</p>
                        <table>
                            <tr>
                                <td colspan="3" id="status3">*Loading*</td>
                            </tr>
                            <tr>
                                <td>Current( or last) Script:</td>
                                <td id="currentScript3">*Loading*</td>
                                <td><input class="btn btn-test" type="button" title="Cancel" value="Cancel" onclick="location.href='@Url.Action("Cancel", "Home",new { id = 3 })'" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="file" name="file" multiple />
                                </td>
                                <td colspan="2"><input class="btn btn-test" type="submit" value="Queue Test Case" /></td>
                            </tr>
                        </table>
                    }
                </div>
            </div>

        </div>
    </div>
