<html>
<head>
    @model TestStationStatus.Models.StatusViewModel

    @section styles
{
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Status.css")">
    }

    @section scripts{
        <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
        <script src="~/signalr/hubs"></script>

        <script type="text/javascript">
            var monitor;

            $(function () {
                $.connection.hub.logging = true;

                monitor = $.connection.monitorHub;
                monitor.client.refreshPage = onNewMessage;

                $.connection.hub.start();
            });

            function onNewMessage(message) {
                $.ajax({
                    url: '',
                    success: function (data) {
                        //$("body").html();
                        window.location.reload(); // This is not jQuery but simple plain ol' JS
                    }
                });
            };
        </script>
    }


</head>

<body>

    @{
        ViewBag.Title = "Index";
    }

    <h2>StatusView - @Model.PCName</h2>

    <p>
        <input type="button" title="Cancel current test case" value="Cancel" onclick="location.href='@Url.Action("Cancel", "Status")'" />
    </p>

    <div class="editor-label">
        @Html.LabelFor(model => model.ApplicationStatus)
        @Model.ApplicationStatus
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.TestPlanActive)
        @Model.TestPlanActive
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.TestScript)
        @Model.TestScript
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastUpdateTime)
        @Model.LastUpdateTimeString
    </div>

    <table>
        <tr>
            <td>
                <p>Actions</p>
                <table class="tg">

                    @foreach (var item in Model.StatusFile)
            {
                        <tr>
                            <td>
                                @item
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                <p>Results </p>
                <table class="tg">

                    @foreach (var item in Model.ResultsFile)
            {
                        <tr>
                            <td class="tg-yw4l">
                                @item
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>

    <p>Fail Messages</p>
    <table class="tg">

        @foreach (var item in Model.FailMessages)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>


    <p>Queue</p>
    <table class="tg">

        @foreach (var item in Model.QueueItems)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>

    <p>Monitor</p>
    <table class="tg">

        @foreach (var item in Model.MonitorFiles)
        {
            <tr>
                <td class="tg-yw4l">
                    @item
                </td>
            </tr>
        }
    </table>
</body>
</html>
